<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSC667 Term Project</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <p>Please register or log in to access the game lobby.</p>
    <a href="/user/register">Register</a>
    <a href="/user/login">Login</a>
 
  <div id="message" class="message"></div>
  <script src="/dist/bundle.js"></script>
</body>
</html>
